@media screen and (max-width: 2000px) {
  .card-container {
    display: inline-grid;
    padding: 0.2%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    height: 550px;
    margin-left:50px;
    margin-top:50px;
  }

  .card {
    width: 350px;
    height: auto;
    margin: 10px;
  }

}